<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Page:</strong>
    <%= book.page %>
  </p>

  <p>
    <strong>Pdf:</strong>
    <%= book.pdf %>
  </p>

</div>
